.dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #0a0a0a;
  color: #d0d0d0;
}

.dashboard-taskbar {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  background: #1a1a1a;
  border-bottom: 1px solid #888888;
}

.dashboard-taskbar button {
  background-color: #000000;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

.dashboard-taskbar button:hover {
  background-color: #333333;
  transform: scale(1.05);
  box-shadow: 0px 0px 15px #ffffff;
}

.saved-properties-container {
  padding: 20px;
  flex-grow: 1;
}
