[Unit]
Description=EC2 Instance Health Check Service
After=network.target

[Service]
Type=simple
User=ubuntu
ExecStart=/usr/bin/python3 /home/ubuntu/Capstone-Group-01/aws/services/health/health_check.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target