NODE_ENV=production
PORT=3000

# Database Configuration
DB_HOST={{ db_host }}
DB_PORT=3306
DB_NAME=real_estate
DB_USER=root
DB_PASSWORD=admin

# RabbitMQ Configuration
RABBITMQ_HOST={{ rabbitmq_host }}
RABBITMQ_PORT=5672
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin
RABBITMQ_VHOST=/