[Unit]
Description=EC2 Failover Monitoring Service
After=network.target redis-server.service

[Service]
Type=simple
User=ubuntu
ExecStart=/usr/bin/python3 /home/ubuntu/Capstone-Group-01/aws/services/monitor/monitor.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target